html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

.actor {
}

#actorArea {
    padding: 10px;
}

.actorPanel {
    position: relative;
}

.actorAvatar {
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #eee;
}

.actorAvatar img {
    width: 100%;
}

.actorDataAreaPanel1 {
    position: relative;
    height: 100px;
    overflow-y: auto;
}

.actorDataAreaPanel2 {
    position: relative;
    height: 100px;
    overflow-y: auto;
}

.actorDataAreaPanelButton {
    position: absolute;
    bottom: -3px;
    right: 5px;
    opacity: .3;
    cursor: pointer;
}

.actorDataAreaPanelButton:hover {
    opacity: 1;
}

.actorDataAreaPanelMap {
    position: absolute;
    bottom: -3px;
    left: 5px;
    opacity: .3;
    cursor: pointer;
}

.actorDataAreaPanelMap:hover {
    opacity: 1;
}

.actorHeader {
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.actorLikes {
    display: flex;
    justify-content: space-between;
}

.actorMessage {
    font-style: italic;
    padding: 0 5px;
}

.actorMessage img {
    width: 75%;
}

.actorName {
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}

.animateSlide.ng-enter {
    transition: 250ms linear all;
    left: 100%;
}

.animateSlide.ng-enter.ng-enter-active {
    left: 0;
}

.backgroundHolder {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../images/background.png');
    z-index: -1;
}

.border {
    border: 1px solid blue;
}

.chart {
    /*display: flex;*/
    width: 50%;
    margin-left: 10px;
}

.chartBar {
    width: 0;
    background: rgb(31, 119, 180);
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    color: #eee;
    margin:0 0 2px 10px;
    transition: width 1s;
    border-radius: 0 3px 3px 0;
}

.chartBar:hover {
    background: rgb(71, 159, 220);
}

.chartProvider {
    margin-bottom: 10px;
}

.chartProviderTitle {
    color: #eee;
}

.cursorDefault {
    cursor: default;
}

.cursorPointer {
    cursor: pointer;
}

.errorMessage {
    color: #eee;
}

.header {
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    background: #fff;
}

.headerInside {
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    background: #fff;
}

#imageModal {
    top: 5%;
}

.mainContent {
    padding-top: 60px;
}

.mapContainer {
    height: 300px;
    width: 100%;
}

#mapModal {
    top: 5%;
}

.messageImage {
    width: 100%;
}

.navButtonNext {
    margin-left: 5px;
}

.navButtonPrev {
    margin-left: 3px;
}

.navSelector {
    margin-left: 3px;
}

.navSelectorActive {
    text-decoration: underline;
}

.navSelectorBegin {
    margin-left: 3px;
    color: #337ab7;
}

.navSelectorBeginDots {
    margin-left: -3px;
}

.navSelectorEnd {
    margin-left: 3px;
    color: #337ab7;
}

.panel-body {
    overflow: hidden;
}

.propagationNavs {
    display: flex;
    align-items: center;
}

#replyModal {
    top: 5%;
}

.user {
    margin-left: 5px;
}

.userControl {
    display: flex;
    align-items: center;
}

.userControlActive {
    text-decoration: underline;
    font-weight: bold;
}

.viewAmountControls {
    margin-left: 2px;
}

.viewControl {
    margin-left: 5px;
}

.viewControls {
    padding: 4px;
}

.viewControlsActive {
    background: #eee;
    border-radius: 2px;
}

@media only screen and (max-width: 400px) {
    .chart {
        width: 80%;
    }
}